</div>
<div class="footer-padding"></div>

<div class="footer">
  <p class="copyright">Made by Q-Tech</p>
  <p>© 2020 CEO <span class="Signiture">Josh Starmer</span></p>
</div>

</body>
<footer>

</footer>
</html>
